# Project Title: Predicting Violent Crime By Geographical Location and Type
### Predicting Violent Crime Using Hate Crimes and Violent Crime Datasets, <br> Mental Illness and Psychological Datasets, <br> and Wage and Standard Living Conditions Datasets

## Topic
*What problem are you (or your stakeholder) trying to address?*
The main topic of this project is to utilize my skill sets comprising of data analysis, machine learning, and data manipulation to determine where, when, why, and possibly how hate crimes, mental illness related to violent crimes, and psychological profiles of individuals with anti-social tendencies and a high potential propensity to commit crimes will occur based on available data from local, county, state, national, and global data from at least 3 different sources. The data must include these specific types that can be combined to form reliable conclusions and summations. To start I will attempt to develop models that are based on existing data. Maybe in the future, if there is a successfully analysis, I can begin to look at using real-time data to make my analysis?

## Project Question
*What specific question are you seeking to answer with this project?* 
*This is not the same as the questions you ask to limit the scope of the project.* 
The questions this project is trying to answer is it possible to predict that a mentally ill person, that has affiliations with known hate groups, has a history of psychological problems, and has a criminal record of some type, can commit atrocities and mass murders or some type of mass public crime? Society has been looking for solutions to these social problems for a long time. Can data analytics make a significant difference? I believe it can if we can get past the delays in getting approval to access the data, and we can update the real-time data to the point that the current data represents current social conditions we might be able to avoid catastrophic events like mass murders and other criminal behavior. The key problem is relating the geographical regional data to the potential criminal elements that probably have some type of mental illness history and/or hate group affiliations of some type.

## What would an answer look like?
*What is your hypothesized answer to your question?* 
The primary data is either categorical or statistical in nature and it must be determined what information is the target from each data set and what attributes will make up those data sets. Statistical data might include the rate of murder per 100,000 individuals per year. Categorical data would look more like nationality, male or female, violent versus non-violent, or type of crime committed white collar, financial, rape, murder, misdemeanor, etc. Depending on this criterion the outcome for this project should be a verifiable and reliable projection of areas and individuals that are most prone to commit violence, express hate criminal behavior, and have had or has mental illness or a history of criminal behavior. With this information, it should be possible to watch or monitor those individuals at these times for such behavior. Then we night be able to prevent criminal activities that normally would not be avoidable. 


## Data Sources
### *What 3 data sources have you identified for this project?* 
### Dataset One: Mental Illness and Fatal Shootings
This dataset shows a relaionship between mental illness and the commision of violent crimes, specifically the crime of murder. This dataset also includes location. I believe it will provide some vital statistics and also categorical information of value in trying to determine who might commit a serious crime, where that person would do it, and when.
### Dataset Two: Bias Ethnic Groups and Number of Criminal Incidents
This dataset demonstrates that hate crimes are committed against ethic and racial groups. This is important when trying to find out what groups would be the most ikely to be targeted by hate groups, which have a lot of mentally ill individuals who also have a histroy of comitting crimes.
### Dataset Three: Frequency of Mental Illness by Location
This information might prove usefull in that there is a high probability that lower income areas have a distinctly higher rate of mental illness. And there might other characteristics of mental illness that are relevent to determining when, where, and why mass shootings might transpire. 
### Dataset Four: Living Wage State Capitols
This dataset might shed some light on what type of family situation would be most likely to be under financial strain and might be prone to become mentally ill and then might tend to commit mass shootings and similiar crimes due to financial collapse and the individual becoming distraught and disconnected. Financial truoble leads to indiviudlas giving up and then stricking back against society. 
### Dataset Five: Mental Health Data
This is a general look and mental health data and it might be informative when trying to understand how mental health is evaluated and how I can get valueable information that might be useful to my project.
### Dataset Six: Predicting Hate Crimes
This is very important information becuase hate crimes are not that far off from commitng mass shootings, the reasons these incidents coccur might be different, but I would venture to assume that many of the mass shootings include individuals that also have comitted hate crimes and belong to hate groups. 

### *How are you going to relate these datasets?*
I am not exactly sure how these different datasets will be integrated to provide a picture of an individual that is probably mentally ill, that has a propensity to joi nhate groups, and has finanical trouble, and would be a loner that might commit mass shootings in a specific areas at specific times. That will be the real challenge. I believe I need to pull the relevant information and data from each dataset and collate it into a single dataset that can give me inshgts that I am looking for. 
### *How will you use this data to answer your project question?*
Each dataset will add some relevant part of the total picture needed to make reasonable assertions that certain types of individuals will commit mass shootings at a specific time in a specific place.

# Import For Project Code Cell

In [1]:
# imports for jupyter notebook final project 
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

%matplotlib inline

# DATASET KEY
1. Mental Illness and Fatal Shootings: Variable Term: df1
2. Bias Ethnic Groups and Number of Criminal Incidents: Variable Term: df2
3. Frequency of Mental Illness by Location: Variable Term df3
4. Living Wage State Capitols: Variable Term: df4
5. Mental Health Data: Variable Term: df5
6. Predicting Hate Crimes: Variable Term: df6

In [2]:
# First Dataset: MentalIllnessAndFataShootings.csv 
# Variable Term = df1
df1 = pd.read_csv('data/MentalIllnessAndFatalShootings.csv')
df1.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,1/2/2015,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,1/2/2015,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,1/3/2015,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,1/4/2015,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,1/4/2015,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [3]:
df1.describe()

               id          age
count  2142.00000  2099.000000
mean   1232.21662    36.484516
std     670.62817    12.874000
min       3.00000     6.000000
25%     664.50000    26.000000
50%    1231.50000    34.000000
75%    1811.75000    45.000000
max    2394.00000    86.000000

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142 entries, 0 to 2141
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2142 non-null   int64
 1   name                     2123 non-null   object
 2   date                     2142 non-null   object
 3   manner_of_death          2142 non-null   object
 4   armed                    2136 non-null   object
 5   age                      2099 non-null   float64
 6   gender                   2141 non-null   object
 7   race                     2039 non-null   object
 8   city                     2142 non-null   object
 9   state                    2142 non-null   object
 10  signs_of_mental_illness  2142 non-null   bool
 11  threat_level             2142 non-null   object
 12  flee                     2106 non-null   object
 13  body_camera              2142 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 205.1+ KB

In [14]:
df1.isnull().sum()

id                           0
name                        19
date                         0
manner_of_death              0
armed                        6
age                         43
gender                       1
race                       103
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        36
body_camera                  0
dtype: int64

### It would be wise to take a look at various statistics about df1 and make some immediate decisions on what to keep and what to eleminate fomr the dataset.
The id column, the first column is not necessary and is not the target, so it is a candidate for being dropped. <br>

In [5]:
# Second Dataset: Bias9_18_2022.csv
# Variable Term: df2
df2 = pd.read_csv('data/Bias9_18_2022.csv')
df2.head()

   Ethnic or Group Identification  Number of Incidents
0  Anti-Black or African American                 2871
1                      Anti-White                  869
2                     Anti-Jewish                  683
3                 Anti-Gay (Male)                  673
4         Anti-Hispanic or Latino                  517

In [11]:
df2.describe()

       Number of Incidents
count            35.000000
mean            236.085714
std             506.054890
min               7.000000
25%              27.500000
50%              73.000000
75%             212.000000
max            2871.000000

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Ethnic or Group Identification  35 non-null     object
 1   Number of Incidents             35 non-null     int64
dtypes: int64(1), object(1)
memory usage: 688.0+ bytes

In [15]:
df2.isnull().sum()

Ethnic or Group Identification    0
Number of Incidents               0
dtype: int64

In [6]:
# Third Dataset: FrequencyOfMentalIllnessByLocation.csv
# Variable Term: df3
df3 = pd.read_csv('data/FrequencyOfMentalIllnessByLocation.csv')
df3.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,8/27/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,8/27/2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,8/27/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,8/27/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,8/27/2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [16]:
df3.describe()

                Age
count  1.259000e+03
mean   7.942815e+07
std    2.818299e+09
min   -1.726000e+03
25%    2.700000e+01
50%    3.100000e+01
75%    3.600000e+01
max    1.000000e+11

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [18]:
df3.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [7]:
# Fourth Dataset: LivingWageStateCapitols.csv
# Variable Term: df4
df4 = pd.read_csv('data/LivingWageStateCapitals.csv')
df4.head()

,state_territory,city,minimum_wage,one_adult_no_kids_living_wage,one_adult_one_kid_living_wage,one_adult_two_kids_living_wage,one_adult_three_kids_living_wage,two_adults_one_working_no_kids_living_wage,two_adults_one_working_one_kid_living_wage,two_adults_one_working_two_kids_living_wage,...,one_adult_two_kids_poverty_wage,one_adult_three_kids_poverty_wage,two_adults_one_working_no_kids_poverty_wage,two_adults_one_working_one_kid_poverty_wage,two_adults_one_working_two_kids_poverty_wage,two_adults_one_working_three_kids_poverty_wage,two_adults_both_working_no_kids_poverty_wage,two_adults_both_working_one_kid_poverty_wage,two_adults_both_working_two_kids_poverty_wage,two_adults_both_working_three_kids_poverty_wage
0,District of Columbia,Washington,13.25,19.97,38.95,48.99,63.96,29.61,34.55,38.32,...,10.44,12.60,8.29,10.44,12.60,14.75,4.14,5.22,6.30,7.38
1,Alabama,Montgomery,7.25,13.56,27.35,33.42,42.17,22.59,26.66,30.27,...,10.44,12.60,8.29,10.44,12.60,14.75,4.14,5.22,6.30,7.38
2,Alaska,Juneau,10.19,15.48,29.99,36.00,47.42,24.48,29.46,33.01,...,13.05,15.75,10.36,13.05,15.75,18.44,5.18,6.53,7.87,9.22
3,Arizona,Phoenix,12.00,15.41,29.44,35.40,46.01,24.85,29.25,32.98,...,10.44,12.60,8.29,10.44,12.60,14.75,4.14,5.22,6.30,7.38
4,Arkansas,Little Rock,10.00,13.97,28.81,35.49,45.33,23.21,27.66,31.36,...,10.44,12.60,8.29,10.44,12.60,14.75,4.14,5.22,6.30,7.38

In [19]:
df4.describe()

,minimum_wage,one_adult_no_kids_living_wage,one_adult_one_kid_living_wage,one_adult_two_kids_living_wage,one_adult_three_kids_living_wage,two_adults_one_working_no_kids_living_wage,two_adults_one_working_one_kid_living_wage,two_adults_one_working_two_kids_living_wage,two_adults_one_working_three_kids_living_wage,two_adults_both_working_no_kids_living_wage,...,one_adult_two_kids_poverty_wage,one_adult_three_kids_poverty_wage,two_adults_one_working_no_kids_poverty_wage,two_adults_one_working_one_kid_poverty_wage,two_adults_one_working_two_kids_poverty_wage,two_adults_one_working_three_kids_poverty_wage,two_adults_both_working_no_kids_poverty_wage,two_adults_both_working_one_kid_poverty_wage,two_adults_both_working_two_kids_poverty_wage,two_adults_both_working_three_kids_poverty_wage
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,...,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,9.168824,14.844902,30.618431,38.160784,49.468431,23.967255,28.610588,32.272157,35.189216,11.705686,...,10.521961,12.698824,8.354902,10.521961,12.698824,14.865686,4.172745,5.260980,6.349216,7.437647
std,1.995183,1.668908,3.241982,4.395882,6.255113,1.985422,2.423004,2.483299,3.391092,0.916175,...,0.422715,0.509834,0.334893,0.422715,0.509834,0.596953,0.168749,0.211606,0.253967,0.297527
min,7.250000,12.270000,26.340000,32.990000,41.340000,21.100000,25.240000,28.810000,30.580000,10.160000,...,10.440000,12.600000,8.290000,10.440000,12.600000,14.750000,4.140000,5.220000,6.300000,7.380000
25%,7.250000,13.835000,28.715000,35.520000,45.415000,22.645000,27.025000,30.550000,32.945000,11.085000,...,10.440000,12.600000,8.290000,10.440000,12.600000,14.750000,4.140000,5.220000,6.300000,7.380000
50%,8.750000,14.610000,29.770000,36.790000,47.680000,23.620000,27.980000,31.860000,34.560000,11.480000,...,10.440000,12.600000,8.290000,10.440000,12.600000,14.750000,4.140000,5.220000,6.300000,7.380000
75%,10.730000,15.455000,31.330000,39.095000,51.185000,24.790000,29.470000,33.095000,36.355000,12.080000,...,10.440000,12.600000,8.290000,10.440000,12.600000,14.750000,4.140000,5.220000,6.300000,7.380000
max,13.500000,20.250000,39.980000,50.210000,65.930000,30.960000,37.690000,41.620000,49.160000,14.860000,...,13.050000,15.750000,10.360000,13.050000,15.750000,18.440000,5.180000,6.530000,7.870000,9.220000

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 27 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   state_territory                                  51 non-null     object
 1   city                                             51 non-null     object
 2   minimum_wage                                     51 non-null     float64
 3   one_adult_no_kids_living_wage                    51 non-null     float64
 4   one_adult_one_kid_living_wage                    51 non-null     float64
 5   one_adult_two_kids_living_wage                   51 non-null     float64
 6   one_adult_three_kids_living_wage                 51 non-null     float64
 7   two_adults_one_working_no_kids_living_wage       51 non-null     float64
 8   two_adults_one_working_one_kid_living_wage       51 non-null     float64
 9   two_adults_one_working_two_kids_living_wage      51 non-null     float64
 10  two_adults_one_working_three_kids_living_wage    51 non-null     float64
 11  two_adults_both_working_no_kids_living_wage      51 non-null     float64
 12  two_adults_both_working_one_kid_living_wage      51 non-null     float64
 13  two_adults_both_working_two_kids_living_wage     51 non-null     float64
 14  two_adults_both_working_three_kids_living_wage   51 non-null     float64
 15  one_adult_no_kids_poverty_wage                   51 non-null     float64
 16  one_adult_one_kid_poverty_wage                   51 non-null     float64
 17  one_adult_two_kids_poverty_wage                  51 non-null     float64
 18  one_adult_three_kids_poverty_wage                51 non-null     float64
 19  two_adults_one_working_no_kids_poverty_wage      51 non-null     float64
 20  two_adults_one_working_one_kid_poverty_wage      51 non-null     float64
 21  two_adults_one_working_two_kids_poverty_wage     51 non-null     float64
 22  two_adults_one_working_three_kids_poverty_wage   51 non-null     float64
 23  two_adults_both_working_no_kids_poverty_wage     51 non-null     float64
 24  two_adults_both_working_one_kid_poverty_wage     51 non-null     float64
 25  two_adults_both_working_two_kids_poverty_wage    51 non-null     float64
 26  two_adults_both_working_three_kids_poverty_wage  51 non-null     float64
dtypes: float64(25), object(2)
memory usage: 10.9+ KB

In [21]:
df4.isnull().sum()

state_territory                                    0
city                                               0
minimum_wage                                       0
one_adult_no_kids_living_wage                      0
one_adult_one_kid_living_wage                      0
one_adult_two_kids_living_wage                     0
one_adult_three_kids_living_wage                   0
two_adults_one_working_no_kids_living_wage         0
two_adults_one_working_one_kid_living_wage         0
two_adults_one_working_two_kids_living_wage        0
two_adults_one_working_three_kids_living_wage      0
two_adults_both_working_no_kids_living_wage        0
two_adults_both_working_one_kid_living_wage        0
two_adults_both_working_two_kids_living_wage       0
two_adults_both_working_three_kids_living_wage     0
one_adult_no_kids_poverty_wage                     0
one_adult_one_kid_poverty_wage                     0
one_adult_two_kids_poverty_wage                    0
one_adult_three_kids_poverty_wage                  0
two_adults_one_working_no_kids_poverty_wage        0
two_adults_one_working_one_kid_poverty_wage        0
two_adults_one_working_two_kids_poverty_wage       0
two_adults_one_working_three_kids_poverty_wage     0
two_adults_both_working_no_kids_poverty_wage       0
two_adults_both_working_one_kid_poverty_wage       0
two_adults_both_working_two_kids_poverty_wage      0
two_adults_both_working_three_kids_poverty_wage    0
dtype: int64

In [8]:
# Fifth Dataset: MentalHealthData.csv
# Variable Term: df5
df5 = pd.read_csv('data/MentalHealthData.csv')
df5.head()

,Are you self-employed?,How many employees does your company or organization have?,Is your employer primarily a tech company/organization?,Is your primary role within your company related to tech/IT?,Does your employer provide mental health benefits as part of healthcare coverage?,Do you know the options for mental health care available under your employer-provided coverage?,"Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?",Does your employer offer resources to learn more about mental health concerns and options for seeking help?,"If a mental health issue prompted you to request a medical leave from work, asking for that leave would be:",Would you feel comfortable discussing a mental health disorder with your coworkers?,...,"If you have a mental health issue, do you feel that it interferes with your work when being treated effectively?","If you have a mental health issue, do you feel that it interferes with your work when NOT being treated effectively?",What is your age?,What is your gender?,What country do you live in?,What US state or territory do you live in?,What country do you work in?,What US state or territory do you work in?,Which of the following best describes your work position?,Do you work remotely?
0,0,1 to 5,1.0,NaN,Yes,Yes,No,No,Somewhat difficult,Maybe,...,Sometimes,Often,33,Male,Canada,NaN,Canada,NaN,Back-end Developer,Sometimes
1,0,1 to 5,1.0,NaN,No,No,No,I don't know,Very easy,Yes,...,Not applicable to me,Not applicable to me,40,male,Netherlands,NaN,Netherlands,NaN,Front-end Developer|Back-end Developer,Sometimes
2,0,1 to 5,1.0,NaN,Yes,Yes,No,I don't know,I don't know,Maybe,...,Not applicable to me,Not applicable to me,21,male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer|DevOps/SysAdmin,Never
3,0,1 to 5,1.0,NaN,No,No,No,No,Very difficult,No,...,Often,Often,36,Male,Brazil,NaN,Brazil,NaN,Back-end Developer,Never
4,0,1 to 5,0.0,1.0,I don't know,No,Yes,No,Very difficult,Yes,...,Not applicable to me,Often,36,F,United States of America,Indiana,United States of America,Indiana,Other,Sometimes

In [22]:
df5.describe()

,Are you self-employed?,Is your employer primarily a tech company/organization?,Is your primary role within your company related to tech/IT?,Have you ever sought treatment for a mental health issue from a mental health professional?,What is your age?
count,1433.000000,1146.000000,263.000000,1433.000000,1433.000000
mean,0.200279,0.770506,0.942966,0.585485,34.286113
std,0.400349,0.420691,0.232350,0.492810,11.290931
min,0.000000,0.000000,0.000000,0.000000,3.000000
25%,0.000000,1.000000,1.000000,0.000000,28.000000
50%,0.000000,1.000000,1.000000,1.000000,33.000000
75%,0.000000,1.000000,1.000000,1.000000,39.000000
max,1.000000,1.000000,1.000000,1.000000,323.000000

In [25]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 31 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Are you self-employed?                                                                                                                  1433 non-null   int64
 1   How many employees does your company or organization have?                                                                              1146 non-null   object
 2   Is your employer primarily a tech company/organization?                                                                                 1146 non-null   float64
 3   Is your primary role within your company related to tech/IT?                                                                            263 non-null    float64
 4   Does your employer provide mental health benefits as part of healthcare coverage?                                                       1146 non-null   object
 5   Do you know the options for mental health care available under your employer-provided coverage?                                         1013 non-null   object
 6   Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?  1146 non-null   object
 7   Does your employer offer resources to learn more about mental health concerns and options for seeking help?                             1146 non-null   object
 8   If a mental health issue prompted you to request a medical leave from work, asking for that leave would be:                             1146 non-null   object
 9   Would you feel comfortable discussing a mental health disorder with your coworkers?                                                     1146 non-null   object
 10  Do you feel that your employer takes mental health as seriously as physical health?                                                     1146 non-null   object
 11  Do you know local or online resources to seek help for a mental health disorder?                                                        287 non-null    object
 12  Do you believe your productivity is ever affected by a mental health issue?                                                             287 non-null    object
 13  If yes, what percentage of your work time (time performing primary or secondary job functions) is affected by a mental health issue?    204 non-null    object
 14  How willing would you be to share with friends and family that you have a mental illness?                                               1433 non-null   object
 15  Do you have a family history of mental illness?                                                                                         1433 non-null   object
 16  Have you had a mental health disorder in the past?                                                                                      1433 non-null   object
 17  Do you currently have a mental health disorder?                                                                                         1433 non-null   object
 18  Have you been diagnosed with a mental health condition by a medical professional?                                                       1433 non-null   object
 19  If so, what condition(s) were you diagnosed with?                                                                                       711 non-null    object
 20  Have you ever sought treatment for a mental health issue from a mental health professional?                                             1433 non-null   int64
 21  If you have a mental health issue, do you feel that it interferes with your work when being treated effectively?                        1433 non-null   object
 22  If you have a mental health issue, do you feel that it interferes with your work when NOT being treated effectively?                    1433 non-null   object
 23  What is your age?                                                                                                                       1433 non-null   int64
 24  What is your gender?                                                                                                                    1430 non-null   object
 25  What country do you live in?                                                                                                            1433 non-null   object
 26  What US state or territory do you live in?                                                                                              840 non-null    object
 27  What country do you work in?                                                                                                            1433 non-null   object
 28  What US state or territory do you work in?                                                                                              851 non-null    object
 29  Which of the following best describes your work position?                                                                               1433 non-null   object
 30  Do you work remotely?                                                                                                                   1433 non-null   object
dtypes: float64(2), int64(3), object(26)
memory usage: 347.2+ KB

In [26]:
df5.isnull().sum()

Are you self-employed?                                                                                                                       0
How many employees does your company or organization have?                                                                                 287
Is your employer primarily a tech company/organization?                                                                                    287
Is your primary role within your company related to tech/IT?                                                                              1170
Does your employer provide mental health benefits as part of healthcare coverage?                                                          287
Do you know the options for mental health care available under your employer-provided coverage?                                            420
Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?     287
Does your employer offer resources to learn more about mental health concerns and options for seeking help?                                287
If a mental health issue prompted you to request a medical leave from work, asking for that leave would be:                                287
Would you feel comfortable discussing a mental health disorder with your coworkers?                                                        287
Do you feel that your employer takes mental health as seriously as physical health?                                                        287
Do you know local or online resources to seek help for a mental health disorder?                                                          1146
Do you believe your productivity is ever affected by a mental health issue?                                                               1146
If yes, what percentage of your work time (time performing primary or secondary job functions) is affected by a mental health issue?      1229
How willing would you be to share with friends and family that you have a mental illness?                                                    0
Do you have a family history of mental illness?                                                                                              0
Have you had a mental health disorder in the past?                                                                                           0
Do you currently have a mental health disorder?                                                                                              0
Have you been diagnosed with a mental health condition by a medical professional?                                                            0
If so, what condition(s) were you diagnosed with?                                                                                          722
Have you ever sought treatment for a mental health issue from a mental health professional?                                                  0
If you have a mental health issue, do you feel that it interferes with your work when being treated effectively?                             0
If you have a mental health issue, do you feel that it interferes with your work when NOT being treated effectively?                         0
What is your age?                                                                                                                            0
What is your gender?                                                                                                                         3
What country do you live in?                                                                                                                 0
What US state or territory do you live in?                                                                                                 593
What country do you work in?                                                                                                                 0
What US state or territory do you work in?                                                                                                 582
Which of the following best describes your work position?                                                                                    0
Do you work remotely?                                                                                                                        0
dtype: int64

In [9]:
# Sixth Dataset: PredictingHateCrimes.csv
# Variable Term: df6
df6 = pd.read_csv('data/PredictingHateCrimes.csv')
df6.head()

,median_household_income,share_unemployed_seasonal,share_population_in_metro_areas,share_population_with_high_school_degree,share_non_citizen,share_white_poverty,gini_index,share_non_white,share_voters_voted_trump,hate_crimes_per_100k_splc,avg_hatecrimes_per_100k_fbi
0,42278,0.060,0.64,0.821,0.02,0.12,0.472,0.35,0.63,0.125839,1.806410
1,67629,0.064,0.63,0.914,0.04,0.06,0.422,0.42,0.53,0.143740,1.656700
2,49254,0.063,0.90,0.842,0.10,0.09,0.455,0.49,0.50,0.225320,3.413928
3,44922,0.052,0.69,0.824,0.04,0.12,0.458,0.26,0.60,0.069061,0.869209
4,60487,0.059,0.97,0.806,0.13,0.09,0.471,0.61,0.33,0.255805,2.397986

In [27]:
df6.describe()

,median_household_income,share_unemployed_seasonal,share_population_in_metro_areas,share_population_with_high_school_degree,share_non_citizen,share_white_poverty,gini_index,share_non_white,share_voters_voted_trump,hate_crimes_per_100k_splc,avg_hatecrimes_per_100k_fbi
count,51.000000,51.000000,51.000000,51.000000,48.000000,51.000000,51.000000,51.000000,51.00000,47.000000,50.000000
mean,55223.607843,0.049569,0.750196,0.869118,0.054583,0.091765,0.453765,0.315686,0.49000,0.304093,2.367613
std,9208.478170,0.010698,0.181587,0.034073,0.031077,0.024715,0.020891,0.164915,0.11871,0.252709,1.714245
min,35521.000000,0.028000,0.310000,0.799000,0.010000,0.040000,0.419000,0.060000,0.04000,0.067447,0.266941
25%,48657.000000,0.042000,0.630000,0.840500,0.030000,0.075000,0.440000,0.195000,0.41500,0.142707,1.293139
50%,54916.000000,0.051000,0.790000,0.874000,0.045000,0.090000,0.454000,0.280000,0.49000,0.226197,1.987068
75%,60719.000000,0.057500,0.895000,0.898000,0.080000,0.100000,0.466500,0.420000,0.57500,0.356935,3.184344
max,76165.000000,0.073000,1.000000,0.918000,0.130000,0.170000,0.532000,0.810000,0.70000,1.522302,10.953480

In [23]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 31 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Are you self-employed?                                                                                                                  1433 non-null   int64
 1   How many employees does your company or organization have?                                                                              1146 non-null   object
 2   Is your employer primarily a tech company/organization?                                                                                 1146 non-null   float64
 3   Is your primary role within your company related to tech/IT?                                                                            263 non-null    float64
 4   Does your employer provide mental health benefits as part of healthcare coverage?                                                       1146 non-null   object
 5   Do you know the options for mental health care available under your employer-provided coverage?                                         1013 non-null   object
 6   Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?  1146 non-null   object
 7   Does your employer offer resources to learn more about mental health concerns and options for seeking help?                             1146 non-null   object
 8   If a mental health issue prompted you to request a medical leave from work, asking for that leave would be:                             1146 non-null   object
 9   Would you feel comfortable discussing a mental health disorder with your coworkers?                                                     1146 non-null   object
 10  Do you feel that your employer takes mental health as seriously as physical health?                                                     1146 non-null   object
 11  Do you know local or online resources to seek help for a mental health disorder?                                                        287 non-null    object
 12  Do you believe your productivity is ever affected by a mental health issue?                                                             287 non-null    object
 13  If yes, what percentage of your work time (time performing primary or secondary job functions) is affected by a mental health issue?    204 non-null    object
 14  How willing would you be to share with friends and family that you have a mental illness?                                               1433 non-null   object
 15  Do you have a family history of mental illness?                                                                                         1433 non-null   object
 16  Have you had a mental health disorder in the past?                                                                                      1433 non-null   object
 17  Do you currently have a mental health disorder?                                                                                         1433 non-null   object
 18  Have you been diagnosed with a mental health condition by a medical professional?                                                       1433 non-null   object
 19  If so, what condition(s) were you diagnosed with?                                                                                       711 non-null    object
 20  Have you ever sought treatment for a mental health issue from a mental health professional?                                             1433 non-null   int64
 21  If you have a mental health issue, do you feel that it interferes with your work when being treated effectively?                        1433 non-null   object
 22  If you have a mental health issue, do you feel that it interferes with your work when NOT being treated effectively?                    1433 non-null   object
 23  What is your age?                                                                                                                       1433 non-null   int64
 24  What is your gender?                                                                                                                    1430 non-null   object
 25  What country do you live in?                                                                                                            1433 non-null   object
 26  What US state or territory do you live in?                                                                                              840 non-null    object
 27  What country do you work in?                                                                                                            1433 non-null   object
 28  What US state or territory do you work in?                                                                                              851 non-null    object
 29  Which of the following best describes your work position?                                                                               1433 non-null   object
 30  Do you work remotely?                                                                                                                   1433 non-null   object
dtypes: float64(2), int64(3), object(26)
memory usage: 347.2+ KB

In [24]:
df6.isnull().sum()

Are you self-employed?                                                                                                                       0
How many employees does your company or organization have?                                                                                 287
Is your employer primarily a tech company/organization?                                                                                    287
Is your primary role within your company related to tech/IT?                                                                              1170
Does your employer provide mental health benefits as part of healthcare coverage?                                                          287
Do you know the options for mental health care available under your employer-provided coverage?                                            420
Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?     287
Does your employer offer resources to learn more about mental health concerns and options for seeking help?                                287
If a mental health issue prompted you to request a medical leave from work, asking for that leave would be:                                287
Would you feel comfortable discussing a mental health disorder with your coworkers?                                                        287
Do you feel that your employer takes mental health as seriously as physical health?                                                        287
Do you know local or online resources to seek help for a mental health disorder?                                                          1146
Do you believe your productivity is ever affected by a mental health issue?                                                               1146
If yes, what percentage of your work time (time performing primary or secondary job functions) is affected by a mental health issue?      1229
How willing would you be to share with friends and family that you have a mental illness?                                                    0
Do you have a family history of mental illness?                                                                                              0
Have you had a mental health disorder in the past?                                                                                           0
Do you currently have a mental health disorder?                                                                                              0
Have you been diagnosed with a mental health condition by a medical professional?                                                            0
If so, what condition(s) were you diagnosed with?                                                                                          722
Have you ever sought treatment for a mental health issue from a mental health professional?                                                  0
If you have a mental health issue, do you feel that it interferes with your work when being treated effectively?                             0
If you have a mental health issue, do you feel that it interferes with your work when NOT being treated effectively?                         0
What is your age?                                                                                                                            0
What is your gender?                                                                                                                         3
What country do you live in?                                                                                                                 0
What US state or territory do you live in?                                                                                                 593
What country do you work in?                                                                                                                 0
What US state or territory do you work in?                                                                                                 582
Which of the following best describes your work position?                                                                                    0
Do you work remotely?                                                                                                                        0
dtype: int64

In [10]:
# 🦉: The following command converts this Jupyter notebook to a Python script.
!jupyter nbconvert --to python python-finalProjectCheckpoint.ipynb

This application is used to convert notebook files (*.ipynb)
        to various other formats.

        WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
=======
The options below are convenience aliases to configurable class-options,
as listed in the "Equivalent to" description-line of the aliases.
To see all configurable class-options for some <cmd>, use:
    <cmd> --help-all

--debug
    set log level to logging.DEBUG (maximize logging output)
    Equivalent to: [--Application.log_level=10]
--show-config
    Show the application's configuration (human-readable format)
    Equivalent to: [--Application.show_config=True]
--show-config-json
    Show the application's configuration (json format)
    Equivalent to: [--Application.show_config_json=True]
--generate-config
    generate default config file
    Equivalent to: [--JupyterApp.generate_config=True]
-y
    Answer yes to any questions instead of prompting.
    Equivalent to: [--JupyterApp.answer_yes=True]
--execute
    Execute the notebook prior to export.
    Equivalent to: [--ExecutePreprocessor.enabled=True]
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
    Equivalent to: [--ExecutePreprocessor.allow_errors=True]
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
    Equivalent to: [--NbConvertApp.from_stdin=True]
--stdout
    Write notebook output to stdout instead of files.
    Equivalent to: [--NbConvertApp.writer_class=StdoutWriter]
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
            relevant when converting to notebook format)
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory=]
--clear-output
    Clear output of current file and save in place,
            overwriting the existing notebook.
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --ClearOutputPreprocessor.enabled=True]
--no-prompt
    Exclude input and output prompts from converted document.
    Equivalent to: [--TemplateExporter.exclude_input_prompt=True --TemplateExporter.exclude_output_prompt=True]
--no-input
    Exclude input cells and output prompts from converted document.
            This mode is ideal for generating code-free reports.
    Equivalent to: [--TemplateExporter.exclude_output_prompt=True --TemplateExporter.exclude_input=True --TemplateExporter.exclude_input_prompt=True]
--allow-chromium-download
    Whether to allow downloading chromium if no suitable version is found on the system.
    Equivalent to: [--WebPDFExporter.allow_chromium_download=True]
--disable-chromium-sandbox
    Disable chromium security sandbox when converting to PDF..
    Equivalent to: [--WebPDFExporter.disable_sandbox=True]
--show-input
    Shows code input. This flag is only useful for dejavu users.
    Equivalent to: [--TemplateExporter.exclude_input=False]
--embed-images
    Embed the images as base64 dataurls in the output. This flag is only useful for the HTML/WebPDF/Slides exports.
    Equivalent to: [--HTMLExporter.embed_images=True]
--sanitize-html
    Whether the HTML in Markdown cells and cell outputs should be sanitized..
    Equivalent to: [--HTMLExporter.sanitize_html=True]
--log-level=<Enum>
    Set the log level by value or name.
    Choices: any of [0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL']
    Default: 30
    Equivalent to: [--Application.log_level]
--config=<Unicode>
    Full path of a config file.
    Default: ''
    Equivalent to: [--JupyterApp.config_file]
--to=<Unicode>
    The export format to be used, either one of the built-in formats
            ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf']
            or a dotted object name that represents the import path for an
            ``Exporter`` class
    Default: ''
    Equivalent to: [--NbConvertApp.export_format]
--template=<Unicode>
    Name of the template to use
    Default: ''
    Equivalent to: [--TemplateExporter.template_name]
--template-file=<Unicode>
    Name of the template file to use
    Default: None
    Equivalent to: [--TemplateExporter.template_file]
--theme=<Unicode>
    Template specific theme(e.g. the name of a JupyterLab CSS theme distributed
    as prebuilt extension for the lab template)
    Default: 'light'
    Equivalent to: [--HTMLExporter.theme]
--sanitize_html=<Bool>
    Whether the HTML in Markdown cells and cell outputs should be sanitized.This
    should be set to True by nbviewer or similar tools.
    Default: False
    Equivalent to: [--HTMLExporter.sanitize_html]
--writer=<DottedObjectName>
    Writer class used to write the
                                        results of the conversion
    Default: 'FilesWriter'
    Equivalent to: [--NbConvertApp.writer_class]
--post=<DottedOrNone>
    PostProcessor class used to write the
                                        results of the conversion
    Default: ''
    Equivalent to: [--NbConvertApp.postprocessor_class]
--output=<Unicode>
    overwrite base name use for output files.
                can only be used when converting one notebook at a time.
    Default: ''
    Equivalent to: [--NbConvertApp.output_base]
--output-dir=<Unicode>
    Directory to write output(s) to. Defaults
                                  to output to the directory of each notebook. To recover
                                  previous default behaviour (outputting to the current
                                  working directory) use . as the flag value.
    Default: ''
    Equivalent to: [--FilesWriter.build_directory]
--reveal-prefix=<Unicode>
    The URL prefix for reveal.js (version 3.x).
            This defaults to the reveal CDN, but can be any url pointing to a copy
            of reveal.js.
            For speaker notes to work, this must be a relative path to a local
            copy of reveal.js: e.g., "reveal.js".
            If a relative path is given, it must be a subdirectory of the
            current directory (from which the server is run).
            See the usage documentation
            (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-slideshow)
            for more details.
    Default: ''
    Equivalent to: [--SlidesExporter.reveal_url_prefix]
--nbformat=<Enum>
    The nbformat version to write.
            Use this to downgrade notebooks.
    Choices: any of [1, 2, 3, 4]
    Default: 4
    Equivalent to: [--NotebookExporter.nbformat_version]

Examples
--------

    The simplest way to use nbconvert is

            > jupyter nbconvert mynotebook.ipynb --to html

            Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'qtpdf', 'qtpng', 'rst', 'script', 'slides', 'webpdf'].

            > jupyter nbconvert --to latex mynotebook.ipynb

            Both HTML and LaTeX support multiple output templates. LaTeX includes
            'base', 'article' and 'report'.  HTML includes 'basic', 'lab' and
            'classic'. You can specify the flavor of the format used.

            > jupyter nbconvert --to html --template lab mynotebook.ipynb

            You can also pipe the output to stdout, rather than a file

            > jupyter nbconvert mynotebook.ipynb --stdout

            PDF is generated via latex

            > jupyter nbconvert mynotebook.ipynb --to pdf

            You can get (and serve) a Reveal.js-powered slideshow

            > jupyter nbconvert myslides.ipynb --to slides --post serve

            Multiple notebooks can be given at the command line in a couple of
            different ways:

            > jupyter nbconvert notebook*.ipynb
            > jupyter nbconvert notebook1.ipynb notebook2.ipynb

            or you can specify the notebooks list in a config file, containing::

                c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

            > jupyter nbconvert --config mycfg.py

To see all available configurables, use `--help-all`.

[NbConvertApp] WARNING | pattern 'python-finalProjectCheckpoint.ipynb' matched no files